<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    OYLZ
  </title>
  <link rel='stylesheet' href='/css/main.css'>

</head>

<body>
  <div id="pageLayout" class="layout">
    <div class="page isay fullpage">
      <div id="particles-js"></div>
      <ul class="say">
        <li>
          <h1>你好,</h1> 我是
          <h3>欧阳润驰</h3>
        </li>
        <li>是未来的一名前端工程师</li>
        <li>Emmmmmmmmmmmmm</li>
        <li>是的，我现在还在找工作</li>
        <li>现在居住在深圳，想在找一份前端开发的工作</li>
        <li>我的目标城市是'广深上'</li>
        <li>在校期间自学了好些时间的前端</li>
        <li>往下翻，那是我在学习过程中做的一些小作品</li>
        <li>欢迎批评</li>
        <li>右边的导航栏可以留言嗷</li>
      </ul>
      <ul class="myself">
        <li>
          <h2>这是一点简单的说明</h2>
        </li>
        <li>
          <span>姓名：</span><span>欧阳润驰</span>
        </li>
        <li>
          <span>出生日期：</span><span>1995年8月</span>
        </li>
        <li>
          <span>意向职位：</span><span>WEB前端工程师</span>
        </li>
        <li>
          <span>教育经历：</span><span>湖南工程学院</span>
        </li>
        <li>
          <span>学历专业：</span><span>本科/电气工程</span>
        </li>
        <li>
          <span>目标城市：</span><span>深圳，广州，上海</span>
        </li>
        <li>
          <span>联系电话：</span><span>18617048281</span>
        </li>
        <li class="mygit"><a href="https://github.com/NightingaleM" target="_blank">我会放一些代码放在git上</a></li>
        <li class="jianshu"><a href="http://www.jianshu.com/u/015f9e1b5d8b" target="_blank">也会在学习过程中写一点知识点</a></li>
      </ul>
    </div>


    <div class="page works fullpage">
      <h2>我的作品</h2>
      <div class="workbox">
        <div class="leftbookcase dbbookcase">
          <div class="positive wood"></div>
          <div class="side wood"></div>
          <div class="top wood"></div>
        </div>

        <div class="bookcasecontent">
          <div class="topbookcase">
            <div class="positive wood"></div>
            <div class="top wood"></div>
            <div class="dbwork">
              <div class="work">
                <div class="pic">
                  <img src="imgs/jintai.png" alt="">
                </div>
                <div class="introduction">
                  <h4>一个静态DEMO</h4>
                  <p>使用CSS，HTML写的一个静态页面</p>
                  <p>除了动态效果，几乎可以以假乱真</p>
                  <a target="_blank" href="https://nightingalem.github.io/demos/%E6%9F%90%E4%BC%81%E4%B8%9A%E9%9D%99%E6%80%81demo/start%20bootstrats.html">去看看</a>
                </div>
              </div>
              <div class="work">
                <div class="pic">
                  <img src="imgs/resume1.png" alt="">
                </div>
                <div class="introduction">
                  <h4>一个动态简历</h4>
                  <p>使用了JQ库，做了一个简单的动态简历</p>
                  <p>自己写的一个fullpage效果</p>
                  <a target="_blank" href="https://nightingalem.github.io/resume/resume1/HTML/resume.html">去看看</a>

                </div>
              </div>
            </div>
          </div>

          <div class="bottombookcase">
            <div class="positive wood"></div>
            <div class="top wood"></div>
            <div class="dbwork">
              <div class="work">
                <div class="pic">
                  <img src="imgs/robot.png" alt="">
                </div>
                <div class="introduction">
                  <h4>一个简单（弱智）机器人</h4>
                  <p>使用了图灵123的API</p>
                  <p>用node.js做了一个可以交流的智能机器人</p>
                  <a target="_blank" href="https://github.com/NightingaleM/Project-Test">去看看</a>

                </div>
              </div>
              <div class="work">
                <div class="pic">
                  <img src="imgs/note.png" alt="">
                </div>
                <div class="introduction">
                  <h4>一个留言板</h4>
                  <p>使用EXPREES搭建的一个网站</p>
                  <p>是的，你可以点进去在哪里留言</p>
                  <a target="_blank" href="http://oylz.com/note">去看看</a>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="rightbookcase dbbookcase">
          <div class="positive wood"></div>
          <div class="side wood"></div>
          <div class="top wood"></div>
        </div>
      </div>
    </div>

    <div class="page skills fullpage">
      <h2>技能</h2>
      <div class="skilllayout">
        <canvas id="canvas" width="850" height="500">
          <div class="skillinfo">
            <p>老浏览器不支持canvas，请更换更新的浏览器</p>
            <dl>
              <dt>静态页面：</dt>
              <dd>百分百还原设计稿，遵循W3C规则，标签语义化。</dd>
              <dt>动态页面：</dt>
              <dd>熟悉Ajax、jsonp技术，使用JavaScript与jQuery，使用oop或fp方式编程。</dd>
              <dt>移动端页面：</dt>
              <dd>了解并能使用CSS3、HTML5提供的新的功能与标签以及响应式布局方法。</dd>
              <dt>前端框架\工具：</dt>
              <dd>熟悉使用jQuery、bootstrap、express、webpack、gitbash、npm等框架或工具。</dd>
            </dl>
          </div>
        </canvas>
      </div>
    </div>


    <div class="page content fullpage">
      <h2>我的联系方式</h2>
      <ul>
        <dt>联系电话/微信：18617048281</dt>
        <dt>邮箱：oy_runchi@qq.com</dt>
        <dt>QQ：1097591296</dt>
      </ul>
    </div>
  </div>

  <div id="chacha">
    <div id="navigations">
      <ul>
        <li class="navigation"><span>M</span>yself</li>
        <li class="navigation"><span>P</span>roject</li>
        <li class="navigation"><span>S</span>kill</li>
        <li class="navigation"><span>C</span>ontact</li>
        <li class="navigation"><span>L</span>eave your message</li>
      </ul>
    </div>
    <div id="chachalayout">
      <div id="chat-box">

      </div>
      <div id="ichat">
        <div id="divide">
          <span id="hidchat">隐藏</span>
          <span id="sendchat">发送</span>
        </div>
        <div id="chatbox" contenteditable="true">
        </div>
      </div>
    </div>
  </div>

</body>
<!-- <script src="http://cdn.staticfile.org/jquery/1.8.3/jquery.min.js"></script> -->
<!-- <script src="js/composing.js"></script>
<script src="js/say.js"></script>
<script src="js/fullpage.js"></script> -->

<script src='/js/main.js'></script>
<script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
<script src='/js/star.js'></script>

</html>