<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>欧阳润驰</title>
</head>

<body>
  还是现在PC上看吧。。。。。这个还没做好。。。。。
  <!-- <div class="layout">

    <header>
      <img src="imgs/me.jpg" alt="">
      <ul>
        <li>个人信息</li>
        <li>个人作品</li>
        <li>个人技能</li>
        <li>联系方式</li>
      </ul>
    </header>
    <div class="inf">
      <h2>这是一点简单的个人说明</h2>
      <ul class="myself">
        <li>
          <span>姓名：</span><span>欧阳润驰</span>
        </li>
        <li>
          <span>出生日期：</span><span>1995年8月</span>
        </li>
        <li>
          <span>意向职位：</span><span>WEB前端工程师</span>
        </li>
        <li>
          <span>教育经历：</span><span>湖南工程学院</span>
        </li>
        <li>
          <span>学历专业：</span><span>本科/电气工程</span>
        </li>
        <li>
          <span>目标城市：</span><span>深圳</span>
        </li>
        <li>
          <span>联系电话：</span><span>18617048281</span>
        </li>
        <li class="mygit"><a href="https://github.com/NightingaleM" target="_blank">我会放一些代码放在git上</a></li>
        <li class="jianshu"><a href="http://www.jianshu.com/u/015f9e1b5d8b" target="_blank">也会在学习过程中写一点知识点</a></li>
      </ul>
    </div>
    <div class="works">
      <h3>我的作品</h3>
      <div class="works">
        <img src="imgs/note.png" alt="">
        <h3>留言墙</h3>
        <a href="">预览地址</a>
      </div>
      <div class="works">
        <img src="imgs/robot.png" alt="">
        <h3>弱智机器人</h3>
        <a href="">预览地址</a>
      </div>
      <div class="works">
        <img src="imgs/carousel.png" alt="">
        <h3>轮播</h3>
        <a href="">预览地址</a>
      </div>
      <div class="works">
        <img src="imgs/pull.png" alt="">
        <h3>瀑布流</h3>
        <a href="">预览地址</a>
      </div>
      <div class="works">
        <img src="imgs/lazy.png" alt="">
        <h3>懒加载</h3>
        <a href="">预览地址</a>
      </div>
      <div class="works">
        <img src="imgs/jintai.png" alt="">
        <h3>某企业静态页面</h3>
        <a href="">预览地址</a>
      </div>
    </div>
    <div class="skills">
      <h3>工作技能</h3>
      <ul>
        <li>静态页面
          <p>熟练使用HTML与CSS，像素级还原设计稿</p>
        </li>
        <li>动态页面
          <p>掌握使用原生JS，使网页具有动态效果</p>
        </li>
        <li>移动端页面
          <p>使用HTML5与CSS3，制作移动端页面</p>
        </li>
        <li>前端框架
          <p>了解jQuery，Bootstrap基本原理，能使用前端框架开发富交互应用</p>
        </li>
      </ul>
    </div>
    <div class="content">
      <h3>联系我</h3>
      <ul>
        <li>手机/微信：18617048281</li>
        <li>邮箱：oy_runchi@qq.com</li>
        <li>QQ：1097591296</li>
      </ul>
    </div>
  </div> -->
</body>

<script src='/js/mobile.js'></script>

</html>