<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OYLZ</title>
</head>

<body>
  <div id="layout">
    <div id="backgroundimg"></div>
    <img src="./imgs/暗中观察.png" alt="" id="seeyou">
    <header class="">
      <div class="header-box">
        <img src="./imgs/me.jpg" alt="欧阳润驰">
        <h1>欧阳润驰</h1>
        <p>应聘前端开发工程师</p>
      </div>
    </header>
    <!-- 第一页，自我介绍 -->
    <section id="myself">

      <div id="moveheader" class="tr-box">
        <img id="avatar" src="./imgs/me.jpg" alt="欧阳润驰">
        <ul>
          <li>
            <h1>欧阳润驰</h1>
          </li>
          <li>九五年糙汉子</li>
          <li>爱生活，爱前端</li>
          <li>求一份前端开发相关实习或全职工作</li>
        </ul>
      </div>
      <div class="introduction tr-box">
        <p>热爱前端，热爱生活。</p>
        <p>热衷解决碰到的任何程序问题，不给自己设边界，虽然目标是前端开发，但在实际学习与项目中，后端知识同样有接触和了解。熟悉整个网站的搭建。</p>
      </div>
      <div class="mylink tr-box iconfont">
        <p>这是我的GitHub
          <span>&#xe68f;</span>
          <a href="git" class="iconfont">&#xe66b;</a>
        </p>
        <p>
          这里是我的博客
          <span>&#xe68f;</span>
          <a href="jianshu" class="iconfont">&#xe615;</a>
        </p>
      </div>
    </section>
    <!-- 第二页，作品 -->
    <section id="works">

      <div class="tr-box work-title">
        <h1>我的作品</h1>
        <p>学习过程中的一些作品</p>
      </div>
      <div class="tr-box works-box">
        <div class="work">
          <img src="imgs/oylz11.png" alt="" class="work-img">
          <div class="work-info">
            <p>个人网站开发。独立完成整个网站的设计与建设，项目设计到nodejs、Express、jQuery、Webpack、sqlite3等技术或工具。</p>
            <a href="https://github.com/NightingaleM/Express-Convenience-stickers">查看源码</a>
            <a href="http://oylz.site">效果预览</a>
          </div>
        </div>
        <div class="work">
          <img src="imgs/robot11.png" alt="" class="work-img">
          <div class="work-info">
            <p>一个智（弱）能（智）机器人，可以简单的与你聊天、回答问题等。</p>
            <a href="https://github.com/NightingaleM/Project-Test">查看源码</a>
          </div>
        </div>
        <div class="work">
          <img src="imgs/jintai11.png" alt="" class="work-img">
          <div class="work-info">
            <p>一个模仿某企业的静态页面。</p>
            <a href="https://github.com/NightingaleM/demos/tree/master/%E6%9F%90%E4%BC%81%E4%B8%9A%E9%9D%99%E6%80%81demo">查看源码</a>
            <a href="https://nightingalem.github.io/demos/%E6%9F%90%E4%BC%81%E4%B8%9A%E9%9D%99%E6%80%81demo/start%20bootstrats.html">效果预览</a>
          </div>
        </div>
        <div class="work">
          <img src="imgs/note11.png" alt="" class="work-img">
          <div class="work-info">
            <p>一个留言墙，任何人都可以在此留言</p>
            <a href="https://github.com/NightingaleM/Express-Convenience-stickers">查看源码</a>
            <a href="http://oylz.site/note">效果预览</a>
          </div>
        </div>
      </div>
    </section>

    <section id="skills">
      <div class="tr-box skill-title">
        <h1>我的技能</h1>
        <p>如果现在立马上任，我所具备的工作技能</p>
      </div>
      <div class="skill tr-box">
        <svg width="230" height="100">
          <circle cx="60" cy="50" r="40" fill=" rgb(67, 67, 67)" />
          <text x="60" y="60" font-size="30" text-anchor="middle" fill="rgb(305, 76, 11)"> &#60;&#62;</text>
          <text x="115" y="60" font-size="30" text-anchor="middle" fill="rgb(305, 76, 11)"> + </text>
          <circle cx="170" cy="50" r="40" fill=" rgb(67, 67, 67)" />
          <text x="170" y="60" font-size="30" text-anchor="middle" fill="rgb(0, 145, 305)">#</text>
        </svg>
        <h3>HTML+CSS</h3>
        <p>熟练使用HTML5以及CSS3，熟悉盒模型，百分百还原设计稿。</p>
      </div>
      <div class="skill tr-box">
        <svg width="100" height="100">
          <circle cx="50" cy="50" r="40" fill=" rgb(67, 67, 67)" />
          <text x="50" y="60" font-size="30" text-anchor="middle" fill="rgb(0, 208, 255)">JS</text>
        </svg>
        <h3>Ajax,Jsonp</h3>
        <p>熟悉Ajax、Jsonp等技术，了解前后端分离的工作模式。</p>
      </div>
      <div class="skill tr-box">
        <svg width="100" height="100">
          <circle cx="50" cy="50" r="40" fill=" rgb(67, 67, 67)" />
          <text x="50" y="60" font-size="30" text-anchor="middle" fill="rgb(11, 220, 0)">{ }</text>
        </svg>
        <h3>Other</h3>
        <p>了解jQuery、Vue、BootStrap基本原理，能使用前端框架开发富交互应用。
          <br> 熟悉多种前端工具，如：git、npm、vscode等，熟悉Commoujs、AMD规范，熟练使用Webpack进行代码打包。对后端开发语言nodejs也有一定了解，具有一定的moke数据能力。
        </p>
      </div>
    </section>

    <section id="content">
      <div class="tr-box content-title">
        <h1>联系方式</h1>
        <p>以下是我的联系方式</p>
      </div>
      <dl class="tr-box">
        <dt>
          电话/微信：
          <dd>18617048281</dd>
        </dt>
        <dt> 企鹅：
          <dd>1097591296</dd>
        </dt>
        <dt> 邮箱：
          <dd>oy_runchi@qq.com</dd>
        </dt>
      </dl>
      <div class="content-img tr-box">
        <img src="./imgs/addQQ1.jpg" alt="">
        <img src="./imgs/addWe3.jpg" alt="">
      </div>
    </section>
  </div>
  <script src="./js/mobile.js"></script>
</body>

</html>