<!DOCTYPE html>
<html>

<head>
  <title>
    NOTE-BOOK
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div id="layout">
    <div class="head">
      <div class="add-note">添加</div>
      <div class="water-note">排版</div>
      <div class="sign-in">登陆</div>
    </div>
    <div id="content"></div>
  </div>
</body>
<script src='/js/note.js'></script>

</html>