<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OYLZ</title>
  <link rel="stylesheet" href="css/mobile.css">
</head>

<body>
  <div id="layout">
    <header>
      <span>欧阳润驰</span>
      <span>应聘前端开发</span>
    </header>

    <section id="myself">
      <img src="/imgs/oyrc.jpg" alt="欧阳润驰">
      <p>热爱前端，热爱生活。<br>
        热衷解决碰到的任何程序问题，不给自己设边界，虽然目标是前端开发，但在实际学习与项目中，后端知识同样有接触和了解。熟悉整个网站的搭建。
      </p>
      <a href="git">GitHub</a>
      <a href="jianshu">简书（博客）</a>
    </section>

    <section>
      <h1>我的作品</h1>
      <p></p>
      <div class="skill">
        <p></p>
        <img src="" alt="">
        <a href="">查看源码</a>
        <a href="">效果预览</a>
      </div>
      <div class="skill">
        <p></p>
        <img src="" alt="">
        <a href="">查看源码</a>
        <a href="">效果预览</a>
      </div>
      <div class="skill">
        <p></p>
        <img src="" alt="">
        <a href="">查看源码</a>
        <a href="">效果预览</a>
      </div>
      <div class="skill">
        <p></p>
        <img src="" alt="">
        <a href="">查看源码</a>
        <a href="">效果预览</a>
      </div>
    </section>

    <section>
      <h1>我的技能</h1>
      <div class="skill">
        <span></span>
        <h3></h3>
        <p></p>
      </div>
      <div class="skill">
        <span></span>
        <h3></h3>
        <p></p>
      </div>
      <div class="skill">
        <span></span>
        <h3></h3>
        <p></p>
      </div>
      <div class="skill">
        <span></span>
        <h3></h3>
        <p></p>
      </div>
    </section>

    <section>
      <h1>联系方式</h1>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <img src="" alt="">
      <img src="" alt="">
    </section>
  </div>
  <script src="/js/mobile.js"></script>
</body>

</html>